<div class="row">
    <div class="col s12 m8 l8 offset-m2 offset-l2">
      <div class="card">
  
        <div class="card-action teal lighten-1 white-text">
          <h3>Crear nuevo cliente</h3>
        </div>
  
        <div class="card-content">
        <form [formGroup]="fgValidator">

          <div class="form-field">
            <label for="ClientID">Id</label>
            <input type="text" id="ClientID" formControlName="ClientID">
          </div><br>

          <div class="form-field">
            <label for="Name">Nombre</label>
            <input type="text" id="Name" formControlName="Name">
          </div><br>

          <div class="form-field">
            <label for="Surname">Apellido</label>
            <input type="text" id="Surname" formControlName="Surname">
          </div><br>

          <div class="form-field">
            <label for="Direction">Direccion</label>
            <input type="text" id="Direccion" formControlName="Direction">
          </div><br>

          <div class="form-field">
            <label for="Phone">Telefono</label>
            <input type="tel" id="Phone" formControlName="Phone">
          </div><br>
  
          <div class="form-field">
            <button [disabled]="!fgValidator.valid" (click)="crearClient()" class="btn-large waves-effect waves-dark" style="width:100%;">Crear</button>
          </div><br>
        
        </form>
      </div>
    </div>
</div>
